<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{ site.name }}{% if page.title and page.url != "/" %} | {{ page.title | strip_html }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}" />

  <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" />

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

  {% if page.ref %}
    {% assign en_url = '' %}
    {% assign ja_url = '' %}
    {% for item in site.pages %}
      {% if item.ref == page.ref %}
        {% if item.lang == 'en' %}{% assign en_url = item.url %}{% endif %}
        {% if item.lang == 'ja' %}{% assign ja_url = item.url %}{% endif %}
      {% endif %}
    {% endfor %}
    {% for item in site.posts %}
      {% if item.ref == page.ref %}
        {% if item.lang == 'en' %}{% assign en_url = item.url %}{% endif %}
        {% if item.lang == 'ja' %}{% assign ja_url = item.url %}{% endif %}
      {% endif %}
    {% endfor %}
    {% for item in site.projects %}
      {% if item.ref == page.ref %}
        {% if item.lang == 'en' %}{% assign en_url = item.url %}{% endif %}
        {% if item.lang == 'ja' %}{% assign ja_url = item.url %}{% endif %}
      {% endif %}
    {% endfor %}
    {% if en_url != '' %}<link rel="alternate" hreflang="en" href="{{ en_url | prepend: site.baseurl | prepend: site.url }}" />{% endif %}
    {% if ja_url != '' %}<link rel="alternate" hreflang="ja" href="{{ ja_url | prepend: site.baseurl | prepend: site.url }}" />{% endif %}
  {% endif %}
</head>
