html {
  font-size: $base-font-size;
}

body {
  color: $text-color;
  font-weight: 400;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: $text-color;
  line-height: 1.7;
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-gray;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  letter-spacing: 0;
  line-height: 1.15;
}

article,
.post-content {
  li {
    line-height: 1.65;
    margin-bottom: 0.35rem;
  }

  strong {
    color: $dark-gray;
    font-weight: 700;
  }
}

div.equation {
  margin: $space-1 0;
}
